<% @page_title = t('activerecord.models.user') %>
<h3 style="border-style: groove; padding: 4px;"><%= @page_title %></h3>
<div class=table-responsive>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th><%=t('activerecord.attributes.user.id')%></th>
      <th><%=t('activerecord.attributes.user.uname')%></th>
      <th><%=t('activerecord.attributes.user.upass')%></th>
      <th><%=t('activerecord.attributes.user.uemail')%></th>
      <th><%=t('activerecord.attributes.user.unote')%></th>
      <th><%=t('activerecord.attributes.user.unotedetail')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.uname %></td>
        <td><%= user.upass %></td>
        <td><%= user.uemail %></td>
        <td><%= user.unote %></td>
        <td><%= user.unotedetail %></td>
        <td><%= link_to '表示', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to '新規', new_user_path %>
