<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>PFJI</Author>
  <LastAuthor>PFJI</LastAuthor>
  <LastPrinted>2014-08-19T06:24:17Z</LastPrinted>
  <Created>2014-08-19T05:41:58Z</Created>
  <LastSaved>2014-08-19T06:25:03Z</LastSaved>
  <Version>14.00</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>8550</WindowHeight>
  <WindowWidth>19260</WindowWidth>
  <WindowTopX>120</WindowTopX>
  <WindowTopY>75</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Center"/>
   <Borders/>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="11"
    ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
  </Style>
  <Style ss:ID="s63">
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="11"
    ss:Color="#000000" ss:Bold="1" ss:Underline="Single"/>
  </Style>
  <Style ss:ID="s64">
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="9"
    ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s65">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#FCD5B4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s66">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#FCD5B4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s67">
   <Alignment ss:Vertical="Center" ss:Rotate="90" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#FCD5B4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s68">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s69">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s70">
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="9"
    ss:Color="#000000"/>
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s71">
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s72">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#FCD5B4" ss:Pattern="Solid"/>
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s73">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s75">
   <Alignment ss:Vertical="Center" ss:Rotate="90" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="ＭＳ Ｐゴシック" x:CharSet="128" x:Family="Modern" ss:Size="8"
    ss:Color="#000000"/>
   <Interior ss:Color="#FCD5B4" ss:Pattern="Solid"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="solitem">
  <Names>
   <NamedRange ss:Name="Print_Titles" ss:RefersTo="=solitem!R4"/>
  </Names>
  <Table ss:ExpandedColumnCount="13" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="54" ss:DefaultRowHeight="13.5">
   <Column ss:AutoFitWidth="0" ss:Width="26.25"/>
   <Column ss:AutoFitWidth="0" ss:Width="39.75"/>
   <Column ss:Index="4" ss:AutoFitWidth="0" ss:Width="29.25" ss:Span="1"/>
   <Column ss:Index="6" ss:StyleID="s71" ss:AutoFitWidth="0" ss:Width="66"/>
   <Column ss:StyleID="s62" ss:AutoFitWidth="0" ss:Width="147"/>
   <Column ss:StyleID="s62" ss:AutoFitWidth="0" ss:Width="149.25"/>
   <Column ss:AutoFitWidth="0" ss:Width="29.25"/>
   <Column ss:StyleID="s62" ss:AutoFitWidth="0" ss:Width="173.25"/>
   <Column ss:StyleID="s62" ss:AutoFitWidth="0" ss:Width="85.5"/>
   <Column ss:StyleID="s62" ss:AutoFitWidth="0" ss:Width="77.25"/>
   <Column ss:StyleID="s71" ss:AutoFitWidth="0" ss:Width="59.25"/>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="2" ss:StyleID="s63"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">セッケイカダイコウチクイコウ</PhoneticText><Data
      ss:Type="String">設計課題・構築移行</Data></Cell>
    <Cell ss:Index="5" ss:StyleID="s64"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">チュウミツモリバアイスミジュチュウスミゼンタイスミバアイコンゴイッサイフヨウ</PhoneticText><Data
      ss:Type="String">(注1)見積ステータスの場合、'済'であれば受注までのアクション済。全体ステータスが'済'の場合今後一切アクション不要。</Data></Cell>
    <Cell ss:StyleID="s70"/>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="2" ss:StyleID="s63"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">エキムヌトウアラダ</PhoneticText><Data
      ss:Type="String">役務抜け等洗い出し</Data></Cell>
    <Cell ss:Index="5" ss:StyleID="s64"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">チュウベツシヨウケッテイソウキュウヨウタントウワリアテゴミツモリコウキケンチョクヨウミツモリコウキケンチョクヨウテイアンセッケイキュウシュウセッケイダンカイキュウシュウエイキョウムシカ</PhoneticText><Data
      ss:Type="String">(注2)5=4かつ別タスクフォースで仕様決定早急要、4=担当割当後見積/工期見直要、3=見積/工期見直要、2=提案/設計で吸収、1=設計段階で吸収、0=影響無視可</Data></Cell>
    <Cell ss:StyleID="s70"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="7.5">
    <Cell ss:Index="2" ss:StyleID="s63"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="47.25">
    <Cell ss:StyleID="s65"><Data ss:Type="String">ID</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">要件章節項</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s65"><Data ss:Type="String">オーナー</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s75"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ミツチュウ</PhoneticText><Data
      ss:Type="String">見積ステータス(注1)</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s67"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ゼンタイチュウ</PhoneticText><Data
      ss:Type="String">全体ステータス(注1)</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s72"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">ジカイヨウカクニンビ</PhoneticText><Data
      ss:Type="String">次回要確認日</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">課題タイトル</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">課題内容</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s67"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">チュウ</PhoneticText><Data
      ss:Type="String">レベル(注2)</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s66"><PhoneticText
      xmlns="urn:schemas-microsoft-com:office:excel">タイサク</PhoneticText><Data
      ss:Type="String">対策</Data><NamedCell ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">備考</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">備考（長文可）</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s72"><Data ss:Type="String">更新日時</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
   </Row>
   <% @repo.each do |jj| %>
     <% @tmpuser = User.find(jj.user_id) %>
     <% @tmpreq = Req.find(jj.req_id) %>
     <% tmpc_s_s = sprintf("%s.%s.%s.",@tmpreq.rchap,@tmpreq.rsec,@tmpreq.rsubsec) %>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s68"><Data ss:Type="Number"><%= jj.id %></Data></Cell>
    <Cell ss:StyleID="s68"><Data ss:Type="String"><%= tmpc_s_s %></Data></Cell>
    <Cell ss:StyleID="s68"><Data ss:Type="String"><%= @tmpuser.uname %></Data></Cell>
    <Cell ss:StyleID="s68"><Data ss:Type="String"><%= jj.sphase %></Data></Cell>
    <Cell ss:StyleID="s68"><Data ss:Type="String"><%= jj.starget %></Data></Cell>
    <Cell ss:StyleID="s73"><Data ss:Type="DateTime"><%= jj.sduedate %></Data></Cell>
    <Cell ss:StyleID="s69"><Data ss:Type="String"><%= jj.stitle %></Data></Cell>
    <Cell ss:StyleID="s69"><Data ss:Type="String"><%= jj.scontent %></Data></Cell>
    <Cell ss:StyleID="s69"><Data ss:Type="Number"><%= jj.slevel %></Data></Cell>
    <Cell ss:StyleID="s69"><Data ss:Type="String"><%= jj.saction %></Data></Cell>
    <Cell ss:StyleID="s69"><Data ss:Type="String"><%= jj.snote %></Data></Cell>
    <Cell ss:StyleID="s69"><Data ss:Type="String"><%= jj.snotedetail %></Data></Cell>
    <Cell ss:StyleID="s73"><Data ss:Type="String"><%= jj.updated_at %></Data></Cell>
   </Row>
   <% end %>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
    <Header x:Margin="0.31496062992125984" x:Data="&amp;CToDo/課題リスト&amp;R[社外秘]"/>
    <Footer x:Margin="0.31496062992125984" x:Data="&amp;L&amp;D&amp;C- &amp;P / &amp;N -"/>
    <PageMargins x:Bottom="0.74803149606299213" x:Left="0.70866141732283472"
     x:Right="0.70866141732283472" x:Top="0.74803149606299213"/>
   </PageSetup>
   <Unsynced/>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <HorizontalResolution>600</HorizontalResolution>
    <VerticalResolution>600</VerticalResolution>
   </Print>
   <Selected/>
   <FreezePanes/>
   <FrozenNoSplit/>
   <SplitHorizontal>4</SplitHorizontal>
   <TopRowBottomPane>4</TopRowBottomPane>
   <ActivePane>2</ActivePane>
   <Panes>
    <Pane>
     <Number>3</Number>
    </Pane>
    <Pane>
     <Number>2</Number>
     <ActiveRow>11</ActiveRow>
     <ActiveCol>6</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>
